<!doctype html>

<html lang="en">
   
   
    <head>


        <!-- META -->
        <meta charset="utf-8">
        <meta name="robots">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- PAGE TITLE -->
        <title>Lorem Tech</title>

        <!-- FAVICON -->
        <link rel="shortcut icon" href="assets/img/favicon.png">

        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&amp;subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- STYLESHEETS -->
        <link rel="stylesheet" type="text/css" href="assets/css/plugins.css">
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">


    </head>


    <body class="sub-page">
    
       
        <!-- PRELOADER -->
        <div class="preloader">
           
           
            <!-- SPINNER -->
            <div class="spinner">
             
             
              <div class="bounce-1"></div>
              <div class="bounce-2"></div>
              <div class="bounce-3"></div>
              
              
            </div>
            <!-- /SPINNER -->
            
            
        </div>
        <!-- /PRELOADER -->
        
        
        <!-- NAVIGATION BUTTON -->
        <div class="navigation-button">

            <a href="/"><p class="nav-links">Back</p></a>

        </div>
        <!-- /NAVIGATION BUTTON -->
        
        
        <!-- PORTFOLIO ITEM TYPE A -->
        <div class="portfolio-item-a">
            
            
            <!-- CONTAINER FLUID -->
            <div class="container-fluid">

               
                <h2 class="scroll-animated-from-bottom">Lorem Tech</h2>
                
                <h4 class="scroll-animated-from-bottom">A dummy Software House website <a href="#" target="_blank"> <i class="fa-solid fa-up-right-from-square"></i></a></h4>
                
                <p class="scroll-animated-from-bottom">Lorem Tech is a imaginary software house. They provide vast variety of tech services including Web Services, Information Security, Clouds, Digital Marketing, Search Engine Optimization, Product Endineering, UX/ UI Design and so on.</p>
                <p class="scroll-animated-from-bottom"> <a href="#" target="_blank">Give it a try <i class="fa-solid fa-up-right-from-square"></i></a></p>
                
            
            </div>
            <!-- CONTAINER FLUID -->
            
            
            <!-- IMAGE CAROUSEL -->
            <div class="image-carousel owl-carousel scroll-animated-from-bottom">

                <img class="img-responsive" src="assets/img/lorem-tech/tech-1.jpg" alt="image">
                <img class="img-responsive" src="assets/img/lorem-tech/tech-2.jpg" alt="image">
                <img class="img-responsive" src="assets/img/lorem-tech/tech-3.jpg" alt="image">
                <img class="img-responsive" src="assets/img/lorem-tech/tech-4.jpg" alt="image">


            </div>
            <!-- IMAGE CAROUSEL -->
            

        </div>
        <!-- /PORTFOLIO ITEM TYPE A -->
        
        
        <!-- FOOTER -->
        <div class="footer">
            
            
            <!-- FOOTER INNER -->
            <div class="footer-inner scroll-animated-from-bottom">

                <i class="fa fa-angle-double-up scroll-top" aria-hidden="true"></i>
                <hr>
                <p>© 2022 Portfolio | Design by <strong>AlizZz</strong></p>
            </div>
            <!-- /FOOTER INNER -->
            

        </div>
        <!-- /FOOTER -->


        <!-- JAVASCRIPTS -->
        <script type="text/javascript" src="assets/js/plugins.js"></script>
        <script type="text/javascript" src="assets/js/main.js"></script>


    </body> 
    
    
</html>