<!doctype html>

<html lang="en">
   
   
    <head>


        <!-- META -->
        <meta charset="utf-8">
        <meta name="robots" content="noodp">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- PAGE TITLE -->
        <title>John-Doe</title>

        <!-- FAVICON -->
        <link rel="shortcut icon" href="assets/img/favicon.png">

        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&amp;subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- STYLESHEETS -->
        <link rel="stylesheet" type="text/css" href="assets/css/plugins.css">
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">


    </head>


    <body class="sub-page">
    
       
        <!-- PRELOADER -->
        <div class="preloader">
           
           
            <!-- SPINNER -->
            <div class="spinner">
             
              <div class="bounce-1"></div>
              <div class="bounce-2"></div>
              <div class="bounce-3"></div>
              
            </div>
            <!-- /SPINNER -->
            
            
        </div>
        <!-- /PRELOADER -->
        
        
        <!-- NAVIGATION BUTTON -->
        <div class="navigation-button">

            <a href="/"><p class="nav-links">Back</p></a>

        </div>
        <!-- /NAVIGATION BUTTON -->
        
        
        <!-- PORTFOLIO ITEM TYPE B -->
        <div class="portfolio-item-b">
            
            
            <!-- CONTAINER FLUID -->
            <div class="container-fluid">

               
                <h2 class="scroll-animated-from-bottom">Next Project</h2>
                
                <h4 class="scroll-animated-from-bottom">Next project is coming here <a href="#" target="_blank"> <i class="fa-solid fa-up-right-from-square"></i></a></h4>
                
                <p class="scroll-animated-from-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius culpa sequi blanditiis perferendis quasi. Inventore quod nesciunt, sed ipsam aperiam, labore itaque dolores voluptatem rerum laudantium doloremque suscipit cupiditate recusandae? Sequi est numquam, quidem hic neque corporis molestias ipsum error? Facilis ipsum adipisci obcaecati omnis sequi nisi quas eaque aut?</p>
                <p class="scroll-animated-from-bottom">x <a href="#" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a></p>

                <img class="img-responsive scroll-animated-from-bottom" src="assets/img/under-construction/c-2.jpg" alt="image">
                <img class="img-responsive scroll-animated-from-bottom" src="assets/img/under-construction/c-3.jpg" alt="image">
                <img class="img-responsive scroll-animated-from-bottom" src="assets/img/under-construction/c-4.jpg" alt="image">
                <img class="img-responsive scroll-animated-from-bottom" src="assets/img/under-construction/c-5.jpg" alt="image">


                
            
            </div>
            <!-- CONTAINER FLUID -->
            

        </div>
        <!-- /PORTFOLIO ITEM TYPE B -->
        
        
        <!-- FOOTER -->
        <div class="footer">
            
            
            <!-- FOOTER INNER -->
            <div class="footer-inner scroll-animated-from-bottom">

                <i class="fa fa-angle-double-up scroll-top" aria-hidden="true"></i>
                <hr>
                <p>© 2022 Portfolio | Design by <strong>AlizZz</strong></p>
            </div>
            <!-- /FOOTER INNER -->
            

        </div>
        <!-- /FOOTER -->


        <!-- JAVASCRIPTS -->
        <script type="text/javascript" src="assets/js/plugins.js"></script>
        <script type="text/javascript" src="assets/js/main.js"></script>


    </body> 
    
    
</html>