<!doctype html>

<html lang="en">
   
   
    <head>


        <!-- META -->
        <meta charset="utf-8">
        <meta name="robots" content="noodp">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- PAGE TITLE -->
        <title>John-Portfolio</title>

        <!-- FAVICON -->
        <link rel="shortcut icon" href="assets/img/favicon.png">

        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&amp;subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- STYLESHEETS -->
        <link rel="stylesheet" type="text/css" href="assets/css/plugins.css">
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">
        <link rel="stylesheet" type="text/css" href="assets/css/footer.css">



    </head>


    <body class="sub-page">
    
        <header class="header">
            <div class="header-container"><a href="#">EN</a> | <a href="#">DE</a></div>
        </header>
       
        <!-- PRELOADER -->
        <div class="preloader">
           
           
            <!-- SPINNER -->
            <div class="spinner">
             
              <div class="bounce-1"></div>
              <div class="bounce-2"></div>
              <div class="bounce-3"></div>
              
            </div>
            <!-- /SPINNER -->
            
            
        </div>
        <!-- /PRELOADER -->
        
        
        <!-- NAVIGATION BUTTON -->
        <div class="navigation-button">

            <a href="/"><p class="nav-links"  data-toggle="tooltip" data-placement="top" title="Home"><i class="fa-solid fa-house"></i></p></a>
            <a href="about"><p class="nav-links"  data-toggle="tooltip" data-placement="top" title="About me"><i class="fa-solid fa-user"></i></p></a>
            <!-- <a href="portfolio"><p class="nav-links">Portfolio</p></a> -->
            <a href="contact-me"><p class="nav-links"  data-toggle="tooltip" data-placement="top" title="Contact me @"><i class="fa-solid fa-envelopes-bulk"></i></p></a>

        </div>
        <!-- /NAVIGATION BUTTON -->
        
        
        <!-- PORTFOLIO ITEM TYPE B -->
        <div class="portfolio-item-b">
            
            
            <!-- CONTAINER FLUID -->
            <div class="container-fluid">

               
                <h2 class="scroll-animated-from-bottom">Portfolio</h2>
                
                <h4 class="scroll-animated-from-bottom">Here is the quick access to some of my Projects</h4>
                
                <a target="_blank" href="#"><h3 style="max-width: 50rem; margin-top: 4rem; border-bottom: 2px solid white;">Project 1</h3></a>
                <a target="_blank" href="#"><h3 style="max-width: 50rem; margin-top: 4rem; border-bottom: 2px solid white;">Project 2</h3></a>
                <a target="_blank" href="#"><h3 style="max-width: 50rem; margin-top: 4rem; border-bottom: 2px solid white;">Project 3</h3></a>
                <a target="_blank" href="#"><h3 style="max-width: 50rem; margin-top: 4rem; border-bottom: 2px solid white;">Project 4</h3></a>
                <a target="_blank" href="#"><h3 style="max-width: 50rem; margin-top: 4rem; border-bottom: 2px solid white;">Project 5</h3></a>
                <a target="_blank" href="#"><h3 style="max-width: 50rem; margin-top: 4rem; border-bottom: 2px solid white;">Project 6</h3></a>
                <a target="_blank" href="#"><h3 style="max-width: 50rem; margin-top: 4rem; border-bottom: 2px solid white;">Project 7</h3></a>


                <div>

                    <p>Stay tuned for upcoming projects</p>
                </div>
            </div>
            <!-- CONTAINER FLUID -->
            
            
        </div>
        <!-- /PORTFOLIO ITEM TYPE B -->
        
        
        <!-- FOOTER -->
        <div class="footer" id="footer">
            
            
            <!-- FOOTER INNER -->
            <div class="footer-inner scroll-animated-from-bottom">

                <hr>
                <div class="footer-con">
                    
                    <p>© Copyright 2022 | by <strong>AlizZz</strong></p>
                    <!-- SOCIAL LINKS -->
                
                <ul class="social-icons scroll-animated-from-right">
                    
                    <a href="#" target="_blank"><li><i class="fa-brands fa-github" ></i></li></a>
                    <li><a href="#" target="_blank"><i class="fa fa-brands fa-git-alt" aria-hidden="true"></i></a></li>
                    <a href="mailto:mail@gmail.com" target="_blank"><li><i class="fa fa-google-plus" aria-hidden="true"></i></li></a>
                    <a href="https://www.linkedin.com/" target="_blank"><li><i class="fa fa-linkedin" aria-hidden="true"></i></li></a>
                    
                    
                </ul>
                
                <!-- /SOCIAL LINKS -->
            </div>
            </div>
            <!-- /FOOTER INNER -->


        <!-- JAVASCRIPTS -->
        <script type="text/javascript" src="assets/js/plugins.js"></script>
        <script type="text/javascript" src="assets/js/main.js"></script>


    </body> 
    
    
</html>