<!doctype html>

<html lang="en">
   
   
    <head>


        <!-- META -->
        <meta charset="utf-8">
        <meta name="robots" content="noodp">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- PAGE TITLE -->
        <title>John - Resume</title>

        <!-- FAVICON -->
        <link rel="shortcut icon" href="assets/img/favicon.png">

        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&amp;subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- STYLESHEETS -->
        <link rel="stylesheet" type="text/css" href="assets/css/plugins.css">
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">
        <link rel="stylesheet" type="text/css" href="assets/css/footer.css">



    </head>


    <body class="sub-page">
    
        <header class="header header-index">
            <div class="header-container header-container-index"><a href="#">EN</a> | <a href="#">DE</a></div>
        </header>
       
        <!-- PRELOADER -->
        <div class="preloader">
           
           
            <!-- SPINNER -->
            <div class="spinner">
             
              <div class="bounce-1"></div>
              <div class="bounce-2"></div>
              <div class="bounce-3"></div>
              
            </div>
            <!-- /SPINNER -->
            
            
        </div>
        <!-- /PRELOADER -->
        
        
        <!-- NAVIGATION BUTTON -->
        <div class="navigation-button">

            <a href="/"><p class="nav-links">Home</p></a>
            <a href="about"><p class="nav-links">About Me</p></a>
            <a href="portfolio"><p class="nav-links">Portfolio</p></a>
            <a href="contact-me"><p class="nav-links">Contact Me</p></a>

        </div>
        <!-- /NAVIGATION BUTTON -->


        <!-- ABOUT -->
        <div class="about">
            
            
            <!-- CONTAINER FLUID -->
            <div class="container-fluid">

               
                <h1 class="scroll-animated-from-bottom">Hi, my name is John Doe.</h1>
                
                <h4 class="scroll-animated-from-bottom">I'm a Full Stack Web Developer.</h4>
               
                <p class="scroll-animated-from-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta velit in eros volutpat, vel blandit est placerat. Donec ullamcorper maximus rhoncus. Suspendisse congue leo eget molestie dictum. Suspendisse blandit vel nisi nec aliquet. Morbi interdum arcu et risus fermentum, id sagittis elit bibendum.</p>
                
                <p class="scroll-animated-from-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta velit in eros volutpat, vel blandit est placerat. Donec ullamcorper maximus rhoncus. Suspendisse congue leo eget molestie dictum. Suspendisse blandit vel nisi nec aliquet. Morbi interdum arcu et risus fermentum, id sagittis elit bibendum. Proin luctus nisi non leo elementum consequat a a turpis. Ut congue ante non tortor viverra tristique. Aliquam venenatis lectus ut tellus tempus convallis.</p>
                
                            
               
                <h6 class="scroll-animated-from-bottom">Get in touch with me via:</h6>
                <p class="scroll-animated-from-bottom">mail@gmail.com</p>
            
            
            </div>
            <!-- CONTAINER FLUID -->
            

        </div>
        <!-- /ABOUT -->
        
        
        <!-- FOOTER -->
        <div class="footer" id="footer">


            
            
            <!-- FOOTER INNER -->
            <div class="footer-inner scroll-animated-from-bottom">

                <hr>
                <div class="footer-con">
                    
                    <p>© Copyright 2022 | by <strong>AlizZz</strong></p>
                    <!-- SOCIAL LINKS -->
                
                <ul class="social-icons scroll-animated-from-right">
                    
                           
                    <li><a href="#"><i class="fa-brands fa-github" ></i></a></li>
                    <li><a href="#"><i class="fa fa-brands fa-git-alt" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    
                    
                </ul>
                
                <!-- /SOCIAL LINKS -->
            </div>
            </div>
            <!-- /FOOTER INNER -->
            

        </div>
        <!-- /FOOTER -->


        <!-- JAVASCRIPTS -->
        <script type="text/javascript" src="assets/js/plugins.js"></script>
        <script type="text/javascript" src="assets/js/main.js"></script>


    </body> 
    
    
</html>