<link rel="stylesheet" type="text/css" href="assets/css/footer.css">


<hr />
<footer id="links">
  <div class="top-section">
    
    <section class="middle">
      <h4>Quick Links</h4>
      <div class="refs">
        <span><a href="#">GitHub</a></span>
        <span><a href="#">LinkedIn</a></span>
        <span><a href="contact">Contact Me</a></span>
        <span><a href="#">Projects</a></span>
      </div>
    </section>
    <section>
      <h4>Talk to me at</h4>
      <p>mrakaraza@gmail.com</p>
    </section>
  </div>
  <hr />
  <div class="bottom-part">
    <p>Copyright&copy; 2022 | Powered by AlizZz</p>
    <p>
      <a href="#">Cookie Policy</a> |
      <a href="#">Privacy Policy</a> |
      <a href="#">GDPR</a>
    </p>
  </div>
</footer>