<!doctype html>

<html lang="en">
   
   
    <head>


        <!-- META -->
        <meta charset="utf-8">
        <meta name="robots" content="noodp">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- PAGE TITLE -->
        <title>John-Doe</title>

        <!-- FAVICON -->
        <link rel="icon" href="assets/img/favicon.png">

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=Poppins:wght@300&display=swap" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&amp;subset=latin-ext" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- STYLESHEETS -->
        <link rel="stylesheet" type="text/css" href="assets/css/plugins.css">
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">

    </head>


    <body class="contains-hero main-page">
    
       
       
        <!-- PRELOADER -->
        <div class="preloader">
           
           
            <!-- SPINNER -->
            <div class="spinner">
             
              <div class="bounce-1"></div>
              <div class="bounce-2"></div>
              <div class="bounce-3"></div>
              
            </div>
            <!-- /SPINNER -->
            
            
        </div>
        <!-- /PRELOADER -->
        
        
        <!-- NAVIGATION BUTTON -->
        <div class="index-navigation-button">

            <header class="header">
                <div class="header-container"><a href="#">EN</a> | <a href="#">DE</a></div>
            </header>
            
            <a href="about-de"><p class="nav-links" data-toggle="tooltip" data-placement="top" title="about"><i class="fa-solid fa-user"></i></p></a>
            <a href="portfolio-de"><p class="nav-links" data-toggle="tooltip" data-placement="top" title="Portfolio"><i class="fa-solid fa-briefcase"></i></p></a>
            <a href="contact-me-de"><p class="nav-links" data-toggle="tooltip" data-placement="top" title="Contact Me @"><i class="fa-solid fa-envelopes-bulk"></i></p></a>

        </div>
        <!-- /NAVIGATION BUTTON -->


        <!-- HERO -->
        <div class="hero">


            <!-- FRONT CONTENT -->
            <div class="front-content">


                <!-- CONTAINER MID -->
                <div class="container-mid">
                    
                    
                    <!-- ANIMATION CONTAINER -->
                    <div class="animation-container animation-fade-right" data-animation-delay="0">
                        
                        <h1>John Doe</h1>
                        
                    </div>
                    <!-- /ANIMATION CONTAINER -->
                    
                    
                    <!-- ANIMATION CONTAINER -->
                    <div class="animation-container animation-fade-left" data-animation-delay="200"> 
                       
                        <p class="subline">Junior Full Stack Web Developer</p>
             
                        
                        
                    </div>
                    <!-- /ANIMATION CONTAINER -->
                    
                    
                    <span data-toggle="tooltip" data-placement="top" title="Scroll Down to see my Portfolio"><i class="fa fa-angle-double-down scroll-down" aria-hidden="true"></i></span>   
                </div>
                <!-- /CONTAINER MID -->
                
                
            </div>
            <!-- /FRONT CONTENT -->


            <!-- BACKGROUND CONTENT -->
            <div class="background-content parallax-on">
                
                
                <!-- BACKGROUND CONTENT INNER -->
                <div class="background-content-inner">

                    <div class="background-overlay"></div>
                    <div class="background-img layer" data-depth="0.05"></div>
                
                </div>
                <!-- /BACKGROUND CONTENT INNER -->
                
                
            </div>
            <!-- /BACKGROUND CONTENT -->


        </div>
        <!-- /HERO -->
        
        
        <!-- PORTFOLIO -->
        <div class="portfolio">
            
            
            <!-- ITEM -->
            <a class="item scroll-animated-from-bottom" href="travel-planner">
               
                <i class="fa fa-eye" aria-hidden="true"></i>
                <div class="item-cover" style="background-image: url(assets/img/travel-planner/item-1.jpg)"></div>
                
            </a>
            <!-- /ITEM -->
            
            
            <!-- ITEM -->
            <a class="item scroll-animated-from-bottom" href="lorem-tech">
               
                <i class="fa fa-eye" aria-hidden="true"></i>
                <div class="item-cover" style="background-image: url(assets/img/lorem-tech/lorem-Tech.jpg)"></div>
                
            </a>
            <!-- /ITEM -->
            
            
            <!-- ITEM -->
            <a class="item scroll-animated-from-bottom" href="todo">
               
                <i class="fa fa-eye" aria-hidden="true"></i>
                <div class="item-cover" style="background-image: url(assets/img/todo/todo-2.jpg)"></div>
                
            </a>
            <!-- /ITEM -->
            
            
            <!-- ITEM -->
            <a class="item scroll-animated-from-bottom" href="flight-data">
               
                <i class="fa fa-eye" aria-hidden="true"></i>
                <div class="item-cover" style="background-image: url(assets/img/flight-data/Flight-data.jpg)"></div>
                
            </a>
                        
            
        </div>
        <!-- /PORTFOLIO -->
        
        
        <!-- FOOTER -->
        <div class="footer">
            
            
            <!-- FOOTER INNER -->
            <div class="footer-inner scroll-animated-from-bottom">

                <i class="fa fa-angle-double-up scroll-top" aria-hidden="true"></i>
                <hr>
                <p>© Copyright 2022 | by <strong>AlizZz</strong></p>
            
            </div>
            <!-- /FOOTER INNER -->
            

        </div>
        <!-- /FOOTER -->


        <!-- JAVASCRIPTS -->
        <script type="text/javascript" src="assets/js/plugins.js"></script>
        <script type="text/javascript" src="assets/js/main.js"></script>
        


    </body> 
    
    
</html>